[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
binance-historical-data = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
